<div class="body">
  <div class="container">
    <!-- <label for="show" class="close-btn fas fa-times" title="close"></label> -->

    <div class="memoslogin" href="#" [routerLink]="['']">Register</div>

    <form
      (ngSubmit)="f.form.valid && onSubmit()"
      *ngIf="!isSuccessful"
      #f="ngForm"
      novalidate
    >
      <div class="data">
        <div class="form-group required"><label>Username </label></div>

        <input
          type="username"
          name="username"
          class="form-control"
          [(ngModel)]="form.username"
          placeholder="Enter username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="data">
        <label>Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          [(ngModel)]="form.password"
          placeholder="Enter Password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input
          type="number"
          class="form-control"
          name="phone"
          placeholder="Enter Phone Number"
          [(ngModel)]="form.phone"
          required
          phone
          #phone="ngModel"
        />
        <div class="alert-danger" *ngIf="phone.errors && f.submitted">
          <div *ngIf="phone.errors.phone">Phone number must be 10 digits</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          name="address"
          placeholder="Enter Address"
          [(ngModel)]="form.address"
          required
          address
          #address="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input
          type="date"
          class="form-control"
          name="birthday"
          [(ngModel)]="form.birthday"
          required
          birthday
          #birthday="ngModel"
        />
      </div>
      <div>
        <div class="register">
          Already a member? <a routerLink="/login">Sign in here</a>
        </div>
      </div>

      <!-- <div class="form-group">
        <p style="color: red" *ngIf="errorMessage.length > 0">
          {{ errorMessage }}
        </p>
      </div> -->
      <p>{{ message }}</p>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
      <div class="btn">
        <div class="inner"></div>
        <button type="submit">Register</button>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
