<div class="body">
  <div class="container">
    <!-- <label for="show" class="close-btn fas fa-times" title="close"></label> -->

    <div class="memoslogin" href="#" [routerLink]="['']">Login</div>
    <form (ngSubmit)="onSubmit()">
      <div class="data">
        <label>User Name</label>
        <input
          type="username"
          name="username"
          [(ngModel)]="form.username"
          placeholder="Enter username"
          required
        />
      </div>

      <div class="data">
        <label>Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          placeholder="Enter Password"
          required
        />
      </div>

      <div>
        <div class="register">
          Not a member? <a routerLink="/register">Register here</a>
        </div>
      </div>

      <div class="form-group">
        <p style="color: red" *ngIf="errorMessage.length > 0">
          {{ errorMessage }}
        </p>
      </div>
      <div class="alert alert-warning" *ngIf="form.submitted && isLoginFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
      <div class="btn">
        <div class="inner"></div>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
