<div class="content">
  <div class="row">
    <div class="input-group">
      <input
        style="font-weight: bold"
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div>
        <button
          style="font-weight: bold; bottom: 8.1px"
          class="btn btn-group"
          type="button"
          (click)="searchBookName()"
        >
          Search
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <button
        *ngIf="this.currentUser.roles == 'ADMIN'"
        routerLink="/insertBook"
        class="btn"
      >
        Add new Book
      </button>

      <div class="card"></div>

      <div class="card-body all-icons">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div
                  class="col-md-3"
                  *ngFor="
                    let book of books
                      | paginate: { itemsPerPage: 8, currentPage: page }
                  "
                >
                  <div class="card" style="width: 100%">
                    <img width="270" height="160"

                      src="{{ book.publisher }}"
                    />

                    <div class="card-body">
                      <h1 class="card-title">{{ book.title }}</h1>
                      <p class="card-text">{{ book.author }}</p>

                      <div>QUANTITY: {{ book.quantity }}</div>
                      <div *ngIf="this.currentUser.roles == 'ADMIN'">
                        <a
                          class="btn btn-primary"
                          routerLink="/bookDetail/{{ book.id }}"
                        >
                          Detail book
                        </a>
                      </div>
                      <td
                        *ngIf="
                          this.currentUser.roles == 'USER' && book.quantity > 0
                        "
                      >
                        <a
                          class="btn btn-primary"
                          routerLink="/borrowBook/{{ book.id }}"
                        >
                          Borrow Book
                        </a>
                      </td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
